Repository HICC-WebsiteProduction/HICC-Website-Production-Frontend, pull requests merged in 2023-02, with the labels that each got.

#6 add: manage layout and basic functionality
  frontend/src/Routes.js
  frontend/src/pages/Manage.js
Labels: transaction : add, role : front-end, transaction : feat, file : javascript

#8 add: umbrella rent window component and sliderbutton component
  frontend/src/components/SliderButton.js
  frontend/src/components/UmbrellaRentWindow.js
  frontend/src/pages/Manage.js
Labels: special : question, transaction : add, role : front-end, transaction : feat, file : javascript

#9 add: Check that input member infos are valid and set redux, network and try register user
  frontend/package-lock.json
  frontend/package.json
  frontend/src/_actions/types.js
  frontend/src/_actions/userAction.js
  frontend/src/_reducers/RootReducer.js
  frontend/src/_reducers/UserReducer.js
  frontend/src/components/InputMemberInfo.js
  frontend/src/components/InputMemberValidInfo.js
  frontend/src/config.js
  frontend/src/history.js
  frontend/src/index.js
  frontend/src/pages/Signup.js
  frontend/src/utils/axios.js
Labels: transaction : add, role : front-end, transaction : feat, file : javascript

#11 update: apply changes from [main] branch
  .github/pull_request_template.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/_actions/types.js
  frontend/src/_actions/userAction.js
  frontend/src/_reducers/RootReducer.js
  frontend/src/_reducers/UserReducer.js
  frontend/src/components/Button.js
  frontend/src/components/Header.js
  frontend/src/components/InputMemberInfo.js
  frontend/src/components/InputMemberValidInfo.js
  frontend/src/components/LoginInputMemberInfo.js
  frontend/src/components/LoginUserModal.js
  frontend/src/components/LogoutUserModal.js
  frontend/src/components/MemberAuthorizeWindow.js
  frontend/src/components/SearchWindow.js
  frontend/src/components/SliderButton.js
  frontend/src/components/Title.js
  frontend/src/components/UmbrellaRentWindow.js
  frontend/src/components/UserModal.js
  frontend/src/config.js
  frontend/src/history.js
  frontend/src/index.js
  frontend/src/pages/Manage.js
  frontend/src/pages/Signup.js
  frontend/src/utils/axios.js
Labels: role : front-end, file : javascript, transaction : update branch

#12 update: (develop/umbrellaRentWindow) apply changes from [main] branch
  frontend/package-lock.json
  frontend/package.json
  frontend/src/_actions/types.js
  frontend/src/_actions/userAction.js
  frontend/src/_reducers/RootReducer.js
  frontend/src/_reducers/UserReducer.js
  frontend/src/components/Button.js
  frontend/src/components/Header.js
  frontend/src/components/InputMemberInfo.js
  frontend/src/components/InputMemberValidInfo.js
  frontend/src/components/LoginInputMemberInfo.js
  frontend/src/components/LoginUserModal.js
  frontend/src/components/LogoutUserModal.js
  frontend/src/components/SearchWindow.js
  frontend/src/components/Title.js
  frontend/src/components/UserModal.js
  frontend/src/config.js
  frontend/src/history.js
  frontend/src/index.js
  frontend/src/pages/Signup.js
  frontend/src/utils/axios.js
Labels: role : front-end, file : javascript, transaction : update branch

#13 (develop/memberAuthorizeWindow) apply changes from [main] branch
  .github/pull_request_template.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/_actions/types.js
  frontend/src/_actions/userAction.js
  frontend/src/_reducers/RootReducer.js
  frontend/src/_reducers/UserReducer.js
  frontend/src/components/Button.js
  frontend/src/components/Header.js
  frontend/src/components/InputMemberInfo.js
  frontend/src/components/InputMemberValidInfo.js
  frontend/src/components/LoginInputMemberInfo.js
  frontend/src/components/LoginUserModal.js
  frontend/src/components/LogoutUserModal.js
  frontend/src/components/SearchWindow.js
  frontend/src/components/SliderButton.js
  frontend/src/components/Title.js
  frontend/src/components/UmbrellaRentWindow.js
  frontend/src/components/UserModal.js
  frontend/src/config.js
  frontend/src/history.js
  frontend/src/index.js
  frontend/src/pages/Manage.js
  frontend/src/pages/Signup.js
  frontend/src/utils/axios.js
Labels: role : front-end, file : javascript, transaction : update branch

#14 add: cabinet rent window component add and layout
  frontend/src/components/CabinetRentWindow.js
  frontend/src/pages/Manage.js
Labels: transaction : add, role : front-end, file : javascript

#15 refine: Modify variable name easier to understand.
  frontend/src/components/InputMemberInfo.js
  frontend/src/components/InputMemberValidInfo.js
  frontend/src/pages/Signup.js
Labels: role : front-end, file : javascript, transaction : refactoring
